<h3>Listing User</h3>

<div class="list-group">
  <li class="list-group-item"><strong>Name:</strong> <%= @user.name %></li>
  <li class="list-group-item"><strong>API Key:</strong> <%= @user.api_key %></li>
  <li class="list-group-item"><strong>Current Pages</strong>
    <small>(<%= @user.pages.size %>)</small>
    <ul class="list-unstyled">
      <% @user.pages.each do |page| %>
        <li>
          <%= link_to page.title, user_page_path(@user, page) %>
          <small>( <%= link_to 'Metrics', user_page_page_metrics_path(@user, page) %> )</small>
        </li>
      <% end %>
    </ul>
    <%= link_to 'New Page', new_user_page_path(@user), class: 'btn btn-primary btn-xs' %>
  </li>
</div>

<div class="btn-group btn-group-sm">
  <%= link_to 'Back', users_path, class: 'btn btn-default' %>
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default' %>  
  <%= link_to 'Destroy', @user, 
    method: :delete, data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger'
  %>
</div>
