<%= form_for [@user, @page] do |f| %>

  <div class="well">
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, :class => "form-control", placeholder: "Enter a Page Title" %>
    </div>

    <div class="form-group">
      <%= f.label :slug, "API Key" %>
      <%= f.text_field :slug, :class => "form-control", placeholder: "Enter a Page Slug" %>
    </div>

    <div class="form-group">
      <%= f.label :body, "Body" %><br />
      <%= f.text_area :body, rows: 10, class: "form-control", placeholder: "Enter Page Body" %>
    </div>

  </div>

  <div class="btn-group btn-group-sm">
    <%= link_to "Back", @user, class: "btn btn-default" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>

<% end %>

